GiaoTrinh/DacTaHinhThuc/OntapDTHT/08110/Nhom 11/TT_DacTa/Ex_Group_ComplexType/GroupElement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="human" type="personinfo"></xs:element>
	<xs:group name="persongroup">
		<xs:sequence>
			<xs:element name="firstname" type="xs:string"/>
			<xs:element name="lastname" type="xs:string"/>
			<xs:element name="birthday" type="xs:date"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="personinfo">
		<xs:sequence>
			<xs:group ref="persongroup"/>
			<xs:element name="address" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
