GiaoTrinh/DacTaHinhThuc/OntapDTHT/08110/Nhom 11/TT_DacTa/Indicators/all.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="person">
		<xs:complexType>
		<xs:all>
		<xs:element name="firstname" type="xs:string"/>
		<xs:element name="lastname" type="xs:string"/>
		</xs:all>
		</xs:complexType>
	</xs:element>
</xs:schema>
