GiaoTrinh/DacTaHinhThuc/OntapDTHT/08110/Nhom 11/TT_DacTa/Indicators/MinOccurs.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="person">
		<xs:complexType>
		<xs:sequence>
			<xs:element name="full_name" type="xs:string"/>
			<xs:element name="child_name" type="xs:string" maxOccurs="3" minOccurs="0"/>        <!--minOccurs default="1"-->
		</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
