GiaoTrinh/DacTaHinhThuc/OntapDTHT/08110/Nhom 11/Code_XML/DateTime/date.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Date">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="date" type="xs:date"/>
				<xs:element name="datetime" type="xs:dateTime"/>
				<xs:element name="time" type="xs:time"/>
				<xs:element name="dration" type="xs:duration"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
