GiaoTrinh/DacTaHinhThuc/OntapDTHT/08110/Nhom 11/Code_XML/Phan01/element_simple.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="person">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="lastname" type="xs:string"/>
				<xs:element name="firstname" type="xs:string"/>
				<xs:element name="age" type="xs:integer"/>
				<xs:element name="lang" type="xs:string" default="EN"></xs:element>
				<xs:element name="country" type="xs:string" fixed="VN"></xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
