GiaoTrinh/DacTaHinhThuc/OntapDTHT/08110/Nhom 11/Code_XML/Any_Attribute/family.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.w3schools.com" elementFormDefault="qualified" attributeFormDefault="unqualified">
	 			
				<xs:element name="person">
					<xs:complexType >
						<xs:sequence >
							<xs:element name="lastname" type="xs:string"/>
							<xs:element name="firstname" type="xs:string"/>
							<xs:any minOccurs="0"/>		
						</xs:sequence>
					</xs:complexType>
		
	</xs:element>
</xs:schema>
