GiaoTrinh/DacTaHinhThuc/OntapDTHT/08110/Nhom 11/Code_XML/Complex_Element/Element_Empty.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="E_empty">
		<xs:complexType >
			<xs:sequence >
				<xs:element name="product">
				<xs:complexType>
					 <xs:attribute name="prodid" type="xs:integer"/>
				</xs:complexType>
					
				</xs:element>
			</xs:sequence>
		</xs:complexType>				
	</xs:element> 
</xs:schema>
