GiaoTrinh/DacTaHinhThuc/OntapDTHT/08110/Nhom 11/Code_XML/Complex_Element/Element_Mix_Content.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="ComplextTypeWithContent">
		<xs:complexType >
			<xs:sequence >
				<xs:element name="mixContent" >
					<xs:complexType mixed="true " >
						<xs:sequence>
							<xs:element name="YourName" type="xs:string"/>
							<xs:element name="age" type="xs:integer"/>
							<xs:element name="born" type="xs:date"/>
						</xs:sequence>	
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
