GiaoTrinh/DacTaHinhThuc/OntapDTHT/08110/Nhom 11/Code_XML/Complex_Element/Element_Text_Attribute.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="E_Text_Attribute">
		<xs:complexType >
			<xs:sequence >
				<xs:element name="shoesize">
					<xs:complexType >
						<xs:simpleContent >
							<xs:extension base="xs:integer">
							<xs:attribute name="country" type="xs:string"/>
							</xs:extension>
						</xs:simpleContent>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
